.App {
  font-family: sans-serif;
  text-align: center;
  height: 100vh;

}
.home {
  overflow: auto;
  height: 100%; 

  background-color: rgba(0,0,0,0.3);
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.6)),
  url("https://miro.medium.com/max/2560/1*JhgYuBrN-7ZfyhYfPjMjBg.png");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  filter: grayscale(100%); 

}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

input[type=number] {
  background-color: transparent;
  color: white;
  width: 35px;
  outline: none;
  border: none;
  padding: 5px;
  margin: 10px 0;
  font-size: 20px;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

label[for=quantity] {
  color: white;
  font-family: 'Playfair Display', serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1px;
}